include ../includes/header.pug
body
    section.title#title
        .container
             .row
                 .col-lg-8.offset-lg-2.col-sm-12.col-12
                    .title-head
                        img(src="./img/logo.png", alt="", srcset="")           
                        h5.title-web WELCOME TO THE  YELLow SIDE OF MOON
                        h1.title-sub WE DO SOME CREATIVE STUFF!!!
                        button.title-but EXPLORE
                        a.title-next(href="#about")
                            img(src="./img/Arrow.png", alt="", srcset="")
    section#about 
        .nav-menu 
            .container
                .row
                    .col-xl-2.col-lg-4.col-md-5.col-sm-2.col-12
                        .logo
                            img.logo-img(src="./img/LogoFor.png", alt="")
                    .col-xl-6.offset-xl-4.col-lg-8.col-md-7.col-sm-10.col-12
                        nav.navigation
                            a.navMenu(href="#title") home
                            a.navMenu(href="#about ") about us  
                            a.navMenu(href="#portfolio") portfolio
                            a.navMenu(href="#cliense") clients
                            a.navMenu(href="#footer") contact
        .container
            .row
                .col-xl-6.offset-xl-3.col-sm-12.col-12
                    .about-title
                         h2.title-headline About us
                         p.title-headtext yellow side  of the moon is not  secret anymore    
            .row             
                .col-xl-4.col-lg-4.col-md-6.sm-6.col-12
                    .card-about   
                        .card-title        
                            span.card-number 01
                            h3.card-subtitle we make some art
                        .card-text
                            p Its just some empty spaces with some text,images and more empty spaces
                .col-xl-4.col-lg-4.col-md-6.sm-6.col-12
                    .card-about   
                        .card-title        
                            span.card-number 02
                            h3.card-subtitle WE DEVELOPE SOME APPs
                        .card-text
                            p You click and magic happen, well someone must make magic
                .col-xl-4.col-lg-4.col-md-6.sm-6.col-12
                    .card-about   
                        .card-title        
                            span.card-number 03
                            h3.card-subtitle WE TAKE SOME PHOTOGRaphs
                        .card-text
                            p This is the easy part of job, just point camera and shoot
    section#quote
        .container 
            .row
                .col-lg-8.offset-lg-2.col-sm-12.col-12
                    h2.qoute-title  THIS IS SOME RANDOM TEXT <br/> WHERE YOU GET INSPIRED AND DO SOME COOL STUFF
                    p.qoute-text NO...WE ARE NOT LAZY,EVERY WEBSITE NEED BLANK SPACE 
    section#portfolio
        .container
            .row
                .col-xl-6.offset-xl-3.col-sm-12.col-12
                    .about-title
                        h2.title-headline portfolio
                        p.title-headtext when we are bored we make some of these
            .row        
                .col-sm-12.col-xl-3.col-lg-3.col-md-6.col-12
                    .work-card
                        img.portfoLio(src="./img/port.png", alt="", srcset="")
                        .info
                            .title worning!!!
                                p.titleText shocking good art  
                .col-sm-12.col-xl-3.col-lg-3.col-md-6.col-12
                    .work-card
                        img.portfoLio(src="./img/port.png", alt="", srcset="")
                        .info
                            .title worning!!!
                                p.titleText shocking good art
                .col-sm-12.col-xl-3.col-lg-3.col-md-6.col-12
                    .work-card
                        img.portfoLio(src="./img/port.png", alt="", srcset="")
                        .info
                            .title worning!!!
                                p.titleText shocking good art
                .col-sm-12.col-xl-3.col-lg-3.col-md-6.col-12
                    .work-card
                        img.portfoLio(src="./img/port.png", alt="", srcset="")
                        .info
                            .title worning!!!
                                p.titleText shocking good art
                .col-sm-12.col-xl-3.col-lg-3.col-md-6.col-12
                    .work-card
                        img.portfoLio(src="./img/port.png", alt="", srcset="")
                        .info
                            .title worning!!!
                                p.titleText shocking good art
                .col-sm-12.col-xl-3.col-lg-3.col-md-6.col-12
                    .work-card
                        img.portfoLio(src="./img/port.png", alt="", srcset="")
                        .info
                            .title worning!!!
                                p.titleText shocking good art
                .col-sm-12.col-xl-3.col-lg-3.col-md-6.col-12
                    .work-card
                        img.portfoLio(src="./img/port.png", alt="", srcset="")
                        .info
                            .title worning!!!
                                p.titleText shocking good art
                .col-sm-12.col-xl-3.col-lg-3.col-md-6.col-12
                    .work-card
                        img.portfoLio(src="./img/port.png", alt="", srcset="")
                        .info
                            .title worning!!!
                                p.titleText shocking good art                                          
            .row       
                .col-xl-6.offset-xl-3.col-sm-12.col-12
                    .toNextPage
                        p.port-text ohh...we have more of these
                        a.loadMore(href="#cliense")
                            img.loadMorePicture(src="./img/Arr.png", alt="", srcset="")
    section#cliense
        .container  
            .row
                .col-xl-6.offset-xl-3.col-sm-12.col-12
                    .about-title
                        h2.title-headline clients
                        p.title-headtext somebody aCTUALLY PAy us for these stuff

            .row
                .col-xl-2.col-lg-2.col-md-2.col-sm-4.col-4.d-flex.align-items-center.justify-content-center
                    img.clientLogo(src="./img/1.png", alt="", srcset="")
                .col-xl-2.col-lg-2.col-md-2.col-sm-4.col-4.d-flex.align-items-center.justify-content-center
                    img.clientLogo(src="./img/2.png", alt="", srcset="")
                .col-xl-2.col-lg-2.col-md-2.col-sm-4.col-4.d-flex.align-items-center.justify-content-center
                    img.clientLogo(src="./img/3.png", alt="", srcset="")
                .col-xl-2.col-lg-2.col-md-2.col-sm-4.col-4.d-flex.align-items-center.justify-content-center
                    img.clientLogo(src="./img/4.png", alt="", srcset="")
                .col-xl-2.col-lg-2.col-md-2.col-sm-4.col-4.d-flex.align-items-center.justify-content-center
                    img.clientLogo(src="./img/5.png", alt="", srcset="")
                .col-xl-2.col-lg-2.col-md-2.col-sm-4.col-4.d-flex.align-items-center.justify-content-center
                    img.clientLogo(src="./img/6.png", alt="", srcset="")  
    section#contact
        .container
            .row
                .col-xl-6.offset-xl-3.col-sm-12.col-12
                    .about-title
                        h2.title-headline contact us
                        p.title-headtext SURE...WE CAN TAKE Some time for chat
            form.form(action="")
                .row
                    .col-xl-6
                        input(type="text" placeholder="Name" id="name")
                    .col-xl-6    
                         input(type="text" placeholder="Mail" id="mail") 
                    .col-xl-12
                         input(type="text" placeholder="Subject" id="subject") 
                    .col-xl-12
                       textarea.massage-for(name="m", cols="30", rows="10",placeholder="Massage")
                    .col-xl-12.col-lg-12.col-md-12
                              button.submit(type="submit") send
    footer#footer
        .container
            .row   
                .col-xl-3.col-lg-6.col-sm-6.col-6
                    .footer-text
                        p.web-text  © 2016 - YellowMoon All Right Reserved
                .col-xl-3.offset-xl-6.col-lg-6.col-sm-6.col-6.align-self-center
                    .icon-img
                        img.img-footer(src="./img//Fac.png", alt="", srcset="")
                        img.img-footer(src="./img//Twi.png", alt="", srcset="")
                        img.img-footer(src="./img//Dri.png", alt="", srcset="")
                        img.img-footer(src="./img//Google.png", alt="", srcset="")
                        img.img-footer(src="./img//Youtube.png", alt="", srcset="")